html
{
    font-size:          62.5%;
    background-color:   #E2E2E2;
}

body
{
    width:      80%;
    max-width:  608px;
    padding:    1rem;
    display:    block;
    margin:     0 auto;
    /*I'm not sure of the font, so let's go with Helvetica */
    font-family: Helvetica, Arial, sans-serif;
}




/* The Stats Area */
.stats
{
    text-align:         center;
    background-color:   #fff;
    /* prefixes not needed for modern browsers */
    border-radius:      2px; 
    box-shadow:         0px 2px #D0D0D0;
    margin-bottom:      7rem; 
    padding-bottom:     4rem;  
    width:              68.6rem; 
}

.stats__header
{
    font-size:          3.5rem;
    text-align:         left;
    color:              #2EA341;
    padding-top:        2rem;
    padding-left:       4rem;
    padding-bottom:     1rem;
    text-transform:     uppercase;
    font-weight:        normal;
    position:           relative;
}

.stats__area
{
    display:            block;
    border-bottom:      3px solid #CCCCCC;
    color:              #E2E2E2;
    position:           relative;
}

.stats__area__region,
.stats__area__region--bottom
{
    font-size:          8rem;
    width:              49%;
    height:             13.7rem;
    display:            inline-block;
    position:           relative;
    padding-bottom:     10rem;
}

.stats__area__region--bottom
{
    padding-top:        10rem;
}


.stats__area__chart
{
    max-width:          12rem;
    display:            block;
    margin:             0 auto;
}










/* Stats borders */
.stats__area:before,
.stats__area:after,
.stats__header:first-child:after
{
    /*using a pseudo element for the 'borders' gives us more control*/
    content:            '';
    display:            block;
    background-color:   #CCCCCC;
    height:             93%;
    width:              2px;
    position:           absolute;
    right:              50%;
    top:                3%;
}

/*the bottom border of the first child*/
.stats__area:after,
.stats__header:first-child:after
{
    width:              93%;
    height:             2px;
    right:              auto;
    left:               3%;
    bottom:             50%;
    top:                auto;
}


.stats__header:first-child:after
{
    bottom:             auto;
    top:                -10%;
    right:              10%;
    left:               auto;
}


.stats__header:first-child:after
{
    top:                auto;
    bottom:             -1rem;
    width:              90%;
    right:              5%;
}








/* Wins Draws Losses */
.wdl
{
    position:           absolute;
    width:              20rem;
    height:             20rem;   
    top:                16.5rem;
    left:               22.5rem;
    background-color:   white;
    z-index:            10;
    padding:            2rem;
    border-radius:      25%;
}

.wdl-0.txt,
.value 
{
    fill:               #2FA843;
}

.wdl-2.txt,
.goals--conceded .value
{
    fill:               #D4000F;
}

.wdl .value,
.txt
{
    font-size:          2rem;
}
.wdl .value
{
    fill:               #666666;
}

.wdl .wdl-1.txt,
{
    /* draw grey */
    fill:               #E6E6E6;
}





/* Percentage styles*/
.percentage
{
    font-size:      3.5rem;

}





/*  Stats titles */
.stats__area__title,
.stats__area__title--bottom
{
    font-size:          2rem;
    font-weight:        normal;
    position:           absolute;
    top:                0;
    width:              100%;
    text-align:         center;
    color:              #818181;
}

.stats__area__title--bottom
{
    top:                auto;
    bottom:             3rem;
}



.stats__header:last-child
{
    text-align:         center;
    padding-left:       0;
}





